<table>
    <tr>
        <td>You have requested to have your password your password reset</td>
    </tr>
    <tr>
        <td>Please click this <a href="{{ branding.domain }}{{ link }}">link</a>.</td>
    </tr>
</table>