<table>
    <tr>
        <td>Stay GDPR Compliant. The person below has now opted out of your location, please remove
            them from any 3rd party lists.
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ email }}</td>
    </tr>
</table>