<!-- FOOTER -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="Footer" data-thumb="//www.stampready.net/dashboard/templates/realtimetoe/thumbnails/realtimetoe13.jpg">
    <tr>
        <td bgcolor="#1B1B1B">

            <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                <tr>
                    <td bgcolor="#222222" data-bgcolor="Footer">

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr><td height="18"></td></tr>
                            <tr>
                                <td align="right">
                        
                                    
                                </td>
                            </tr>
                            <tr><td height="18"></td></tr>
                        </table>
                        <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #c8bdb5;" class="scale">
  
                           
                            <tr><td height="18"></td></tr>
                           <tr>
                                <td style="font-size: 32px; color: #FFFFFF;" align="center" class="scale-center-both" data-color="Headlines Big Extra" data-size="Headlines Big" data-min="18" data-max="38">
                                    Stampede
                                </td>
                            </tr>
                            <tr><td height="60"></td></tr>
                        </table>
                        <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                            <tr>
                                <td style="border-top: 1px solid #fff;">
                                    
                                    <table width="245" border="0" cellspacing="0" cellpadding="0" align="left" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #c8bdb5;" class="scale">
                                        <tr><td height="30"></td></tr>
                                        <tr>
                                            <td class="scale-center-both" data-color="Footer Sublines" data-size="Footer Sublines" data-min="10" data-max="28">
                                                
                                                Engine by 
                                                <font style="color: #fff; font-weight: 300;" data-color="Footer Sublines Extra">Stampede</font>
                                    
                                            </td>
                                        </tr>
                                        <tr><td height="30" class="noshow"></td></tr>
                                    </table>
                                    <table width="245" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #c8bdb5;" class="scale">
                                        <tr><td height="30" class="noshow"></td></tr>
                                        <tr>
                                            <td align="right" class="scale-center-both-top">
                                                
                                                <a href="https://stampede.ai/" style="text-decoration: none; color: #c8bdb5; font-size: 14px;" data-color="Footer Links" data-size="Footer Links" data-min="10" data-max="28">Open Site</a>
                                    
                                            </td>
                                        </tr>
                                        <tr><td height="30"></td></tr>
                                    </table>
                        
                                </td>
                            </tr>
                        </table>    
            
                    </td>
                </tr>
                <tr><td height="90" class="noshow"></td></tr>
            </table>
            
        </td>
    </tr>
</table>