<table>
    <tr>
        <td>
            {{ title }}
        </td>
    </tr>
    <tr>
        <td>
            You're receiving this email because you've requested to cancel your account, a member of our customer success team will be in contact with you shortly in order to process this.
        </td>
    </tr>
    <tr>
        <td>
            Reason selected:
        </td>
    <tr>
        <td>{{ reason }}</td>
    </tr>
</table>