{% extends 'Emails/newBase.twig' %}
{% block content %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns 2Rows">
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="scale b-t-r"
                       bgcolor="white">
                    <tr>
                        <td width="100%">
                            <table bgcolor="#FFFFFF" align="center" border="0" cellspacing="0" cellpadding="0"
                                   width="560">

                                <tr>
                                    <td class="fs-12 text-lighter text-uppercase">You have just connected to {{ alias }}</td>
                                </tr>

                                <tr>
                                    <td height="15"></td>
                                </tr>

                                <tr>
                                    <td class="fs-32 text-light">
                                        Hey, lets make it official
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35">
                                    </td>
                                </tr>

                                <tr>
                                    <td class="fs-18 text-lighter">If you want to automatically connect next time<br>
                                        you'll need to
                                        validate your email address.
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="bx-button clear-link"
                                           href="https://my.stampede.ai/validation/{{ md5Email }}">Validate Now</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35"></td>
                                </tr>
                                <tr>
                                    <td class="fs-18 text-lighter">
                                        You can now manage your account to get
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>

                                <tr>
                                    <td>
                                        <ul class="tick-list text-lighter fs-18">
                                            <li>Easy opt outs</li>
                                            <li>Manage your account anywhere</li>
                                            <li>Secured data at all time</li>
                                        </ul>
                                    </td>
                                </tr>


                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="bx-button clear-link"
                                           href="https://accounts.stampede.ai/magic?state={{ state }}&redirect_uri=https:~2F~2Fmy.stampede.ai~2Fcode&response_type=code&client_id=nearly">Manage
                                            my account</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>



{% endblock %}