<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="Footer">
    <tr>
        <td bgcolor="#F1F5F9">
            <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                <tr>
                    <td bgcolor="#343434" data-bgcolor="Footer" style="background-color: rgb(27, 27, 27);">

                        <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                            <tr>
                                <td style="border-top: 1px solid #424242;">
                                    <table width="245" border="0" cellspacing="0" cellpadding="0" align="left"
                                           style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #c8bdb5;"
                                           class="scale">
                                        <tr>
                                            <td height="30">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="scale-center-both" data-color="Footer Sublines"
                                                data-size="Footer Sublines" data-min="10" data-max="28"
                                                style="color: rgb(255, 255, 255);">
                                                Powered By {{ branding.name }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30" class="noshow">
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="245" border="0" cellspacing="0" cellpadding="0" align="right"
                                           style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #c8bdb5;"
                                           class="scale">
                                        <tr>
                                            <td height="30" class="noshow">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" class="scale-center-both-top">
                                                <a href="{{ branding.website }}"
                                                   style="text-decoration: none; color: rgb(255, 255, 255); font-size: 14px;"
                                                   data-color="Footer Links" data-size="Footer Links" data-min="10"
                                                   data-max="28">
                                                    Goto Website
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="90" class="noshow">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
    
