<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN"         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{{ include('Emails/newHeader.twig') }}

<body>
	<table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="scale" data-module="2Columns">
		<tr>
			<td height="50"></td>
		</tr>

		<tr>
			<td>
				<img height="30px" src="https://assets.stampede.ai/logos/stampede-logomark-1F2888.png"/>
			</td>
			{% if alias %}
				<td align="right" class="fs-10">
					{{ alias }}
				</td>
			{% endif %}
		</tr>


		<tr>
			<td height="50" bgcolor="#fff"></td>
		</tr>
	</table>

	{% block content %}{% endblock %}

	{{ include('Emails/newFooter.twig') }}

</body>
