<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="Footer" class="connect-with-us">
	<tr>
		<td>
			<table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="scale" data-module="2Columns">

				<tr>
					<td height="48"></td>
				</tr>

				<tr>
					<td class="text-lighter fs-12 bold text-uppercase">Connect with us</td>
				</tr>


				<tr class="b-b b-light">
					<td style="display: block;" class="social-footer">
						<a href="http://facebook.com/111371472530081/">
							<img alt="facebook" src="https://assets.stampede.ai/email/fb.png"/>
						</a>
						<a href="https://twitter.com/stampede_speaks">
							<img alt="twitter" src="https://assets.stampede.ai/email/twitter.png"/>
						</a>
						<a href="https://www.linkedin.com/company/10502754/">
							<img alt="linkedin" src="https://assets.stampede.ai/email/linked.png"/>
						</a>
						<a alt="instagram" href="https://www.instagram.com/stampede_IG">
							<img src="https://assets.stampede.ai/email/insta.png"/>
						</a>
					</td>
					<td class="text-right">
						<img height="25px" alt="gdpr" src="https://assets.stampede.ai/email/GDPR%20compliant@2x.png"/>
					</td>
				</tr>

			</table>

			<table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">


				<tr>
					<td height="80" class="fs-11 text-lighter">
						This email was sent to you as a registered member of
						<a href="https://stampede.ai/?utm_source=stampede&utm_medium=email&utm_campaign=from_product">Stampede</a>.
																																										                        Use of the service and website is subject to our
						<a href="https://stampede.ai/terms-of-use">Terms
																																										                            of
																																										                            use</a>
						and
						<a href="https://stampede.ai/company/privacy-policy/">Privacy Policy</a>
					</td>
				</tr>
				<tr>
					<td class="fs-11 text-lighter">©
						{{ 'now' | date('Y') }}
						<a href="https://stampede.ai/?utm_source=stampede&utm_medium=email&utm_campaign=from_product">Stampede</a>. All Rights Reserved</td>
				</tr>


			</table>
		</td>
	</tr>
</table>

<table width="100%" align="center">
	<tr height="35"></tr>
	<tr>
		<td align="center">
			<a href="https://stampede.ai/?utm_source=stampede&utm_medium=email&utm_campaign=from_product">
				<img width="100" alt="stampede-logo" height="27" src="https://assets.stampede.ai/logos/stampede-logomark-999999.png"/>

			</a>
		</td>
	</tr>
	<tr height="35"></tr>
</table>
