<head>
	<title>Stampede</title>
	<meta content="Stampede" name="sr_export">
	<meta name="x-apple-disable-message-reformatting">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<style type="text/css">{{source('Email.style.css')}}</style>
	{% block style %}{% endblock %}
</head>
