{% extends 'Emails/newBase.twig' %}
{% block content %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns 2Rows">
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="scale b-t-r"
                       bgcolor="white">
                    <tr>
                        <td width="100%">
                            <table bgcolor="#FFFFFF" align="center" border="0" cellspacing="0" cellpadding="0"
                                   width="470">
                                <tr>
                                    <td height="40"></td>
                                </tr>

                                <tr>
                                    <td class="fs-18 bold">
                                        Eeek, Failed Payment
                                    </td>
                                </tr>
                                <tr>
                                    <td height="46">
                                        <span class="bx-border"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="bold fs-13">
                                        Hey {{ customer.first }}, Just letting you know that your default
                                        payment method for Stampede has failed.

                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td class="bold fs-13">
                                        Your grace period of 4 days has now started.
                                    </td>
                                </tr>

                                <tr>
                                    <td class="fs-13">
                                        Click below to update your payment
                                    </td>
                                </tr>

                                <tr>
                                    <td height="30"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="bx-button clear-link"
                                           href="{{ branding.domain }}payment_method">
                                            Update Payment
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="40"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>



{% endblock %}